In [5]:
x = "my precious"
dummy = [x for x in "ABC"]

In [6]:
x

'my precious'

## 可迭代序列的拆包

In [7]:
a, b, *rest = range(5)

In [8]:
a, b, rest

(0, 1, [2, 3, 4])

In [9]:
x, *y, z = range(10)
x, y, z

(0, [1, 2, 3, 4, 5, 6, 7, 8], 9)

In [10]:
*m, n, p, q = range(8) 
m, n, p, q

([0, 1, 2, 3, 4], 5, 6, 7)

In [11]:
metro_areas = [
    ('Tokyo','JP',36.933,(35.689722,139.691667)),  
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)), 
              ] 
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))

                |   lat.    |   long.

In [12]:
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.')) 

fmt = '{:15} | {:9.4f} | {:9.4f}' 
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

## namedtuple

创建一个具名元组需要两个参数，一个是类名，另一个是类的各个 字段的名字。后者可以是由数个字符串组成的可迭代对象，或者是由空 格分隔开的字段名组成的字符串。

In [13]:
from collections import namedtuple 
City = namedtuple('City', 'name country population coordinates')  
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [14]:
tokyo.population

36.933

In [15]:
tokyo.coordinates

(35.689722, 139.691667)

In [16]:
tokyo[1]

'JP'

_fields 属性是一个包含这个类所有字段名称的元组。

In [17]:
City._fields

('name', 'country', 'population', 'coordinates')

### namedtuple的嵌套使用

In [18]:
LatLong = namedtuple('LatLong', 'lat long') 
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))

_make() 通过接受一个可迭代对象来生成这个类的一个实例，它 的作用跟 City(*delhi_data) 是一样的。

In [19]:
delhi = City._make(delhi_data)

_asdict() 把具名元组以 collections.OrderedDict 的形式返 回，我们可以利用它来把元组里的信息友好地呈现出来。

In [20]:
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [21]:
for key, value in delhi._asdict().items():
    print(key + ":", value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

## 切片

In [22]:
invoice = """
... 0.....6................................40........52...55........ 
... 1909  Pimoroni PiBrella                    $17.50    3    $52.50 
... 1489  6mm Tactile Switch x20                $4.95    2     $9.90 
... 1510  Panavise Jr. - PV-201                $28.00    1    $28.00 
... 1601  PiTFT Mini Kit 320x240               $34.95    1    $34.95 
... """

In [23]:
invoice.split('\n')[2:]

['1909  Pimoroni PiBrella                    $17.50    3    $52.50 ',
 '1489  6mm Tactile Switch x20                $4.95    2     $9.90 ',
 '1510  Panavise Jr. - PV-201                $28.00    1    $28.00 ',
 '1601  PiTFT Mini Kit 320x240               $34.95    1    $34.95 ',
 '']

使用slice()极大增强了代码的可读性

In [24]:
SKU = slice(0, 6) 
DESCRIPTION = slice(6, 40) 
UNIT_PRICE = slice(40, 52)
QUANTITY = slice(52, 55) 
ITEM_TOTAL = slice(55, None) 
line_items = invoice.split('\n')[2:] 

for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

   $17.50    Pimoroni PiBrella
    $4.95    6mm Tactile Switch x20
   $28.00    Panavise Jr. - PV-201
   $34.95    PiTFT Mini Kit 320x240

In [25]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
l[2:5] = [99]
l

[0, 1, 99, 5, 6, 7, 8, 9]

In [27]:
l = list(range(10))
l[:4] = [11]
l

[11, 4, 5, 6, 7, 8, 9]

In [28]:
l = list(range(10))
print(l)
del l[2:5]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 5, 6, 7, 8, 9]

## 对序列使用+和*

\+ 和 * 都遵循这个规律，不修改原有的操作对象，而是构建一个全新的 序列。

In [29]:
l = [1, 2, 3]
l * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [30]:
l_1 = [[1, 2, 3]] * 3
l_1

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [31]:
l_1[0][1] = 99
l_1

[[1, 99, 3], [1, 99, 3], [1, 99, 3]]

另一种方式

In [32]:
l_3 = [[1] * 3] * 3
l_3

[[1, 1, 1], [1, 1, 1], [1, 1, 1]]

In [33]:
l_3[0][1] = 99
l_3

[[1, 99, 1], [1, 99, 1], [1, 99, 1]]

对比上面的创建列表和修改列表中的值

In [34]:
l_2 = [[1, 2, 3] for _ in range(3)]
l_2

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [35]:
l_2[0][1] = 99

## += / *=

可变序列的增量操作：

In [36]:
l = [1, 2, 3]
id(l)

140183307386144

In [37]:
l *= 2
l

[1, 2, 3, 1, 2, 3]

In [38]:
id(l)

140183307386144

不可变序列的增量操作：

In [39]:
t = (1, 2, 3)
id(t)

140183307433936

In [40]:
t *= 2
t

(1, 2, 3, 1, 2, 3)

In [41]:
id(t)

140183307777648

### 不要把可变对象放在元组里面

In [1]:
ls_ = (1, 2, [3, 4])
ls_[2] += [5, 6] # 虽然报错，但是仍然完成了操作

TypeError: 'tuple' object does not support item assignment

In [2]:
ls_

(1, 2, [3, 4, 5, 6])

## 排序

### bisect为二分查找算法模块，其对有序序列的查找/插入十分有效率

In [ ]:
import bisect
import sys

HAYSTACK = [1, 4, 5, 6, 8, 12, 15, 20, 21, 23, 23, 26, 29, 30] 
NEEDLES = [0, 1, 2, 5, 8, 10, 22, 23, 29, 30, 31] 

ROW_FMT = "{0:2d} @ {1:2d}    {2}{0:<2d}"

def demo(bisect_fn):
    for needle in reversed(NEEDLES):
        position = bisect_fn(HAYSTACK, needle)
        offset = position * "  |"
        print(ROW_FMT.format(needle, position, offset))

In [ ]:
print("haystack ->", " ".join("%2d" % n for n in HAYSTACK))
demo(bisect.bisect)

In [ ]:
print("haystack ->", " ".join("%2d" % n for n in HAYSTACK))
demo(bisect.bisect_left)

### bisect模块的查找函数可以用来代替index方法在长序列中快速查找一个元素的位置

In [ ]:
def grade(score, breakpoints=[60, 70, 80, 90], grades="FDCBA"):
    ix = bisect.bisect(breakpoints, score)
    return grades[ix]

In [ ]:
[grade(score) for score in [33, 99, 77, 70, 89, 60, 90, 100]]

### bisect.insort()对列表进行扩充，可以一直维持列表的有序状态

In [ ]:
import random

my_list = []
for i in range(14):
    random_val = random.randrange(14)
    bisect.insort(my_list, random_val)
    print("%2d ->" % random_val, my_list)

In [ ]:
my_list

## 数组

In [ ]:
from array import array

In [ ]:
from random import random

In [ ]:
# 'd' means 'double'
floats = array('d', (random() for i in range(10**7)))
floats[-1]

In [ ]:
fp = open('floats.bin', 'wb')
floats.tofile(fp)
fp.close()

array.fromfile(f, n)

Read n items (as machine values) from the file object f and append them to the end of the array.

In [ ]:
fp = open('floats.bin', 'rb')
floats2 = array('d')
floats2.fromfile(fp, 10**7)
fp.close()

In [ ]:
floats[-1]

In [ ]:
floats == floats2

## numpy

In [ ]:
import numpy as np

In [ ]:
a = np.arange(12)
a

In [ ]:
a.shape

In [ ]:
a.shape = 3, 4

In [ ]:
a

## deque

In [ ]:
from collections import deque

In [ ]:
dq = deque(range(10), maxlen=10)
dq

In [ ]:
dq = deque(range(10), maxlen=10)
dq.rotate(3)
dq

In [ ]:
dq = deque(range(10), maxlen=10)
dq.rotate(-1)
dq

In [ ]:
dq = deque(range(10), maxlen=10)
dq.appendleft(-1)
dq

In [ ]:
dq = deque(range(10), maxlen=10)
dq.append(-1)
dq

In [ ]:
dq = deque(range(10), maxlen=10)
dq.extend([11, 22, 33])
dq

In [ ]:
dq = deque(range(10), maxlen=10)
dq.extendleft([11, 22, 33])
dq

In [ ]:
dq.maxlen